@use '@angular/material/index' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background: var(--mat-app-on-secondary) !important;
  color: var(--mat-app-on-surface) !important;
}

body {
  height: calc(100% - 10px);
}

img {
  filter: none;
  transition: filter 0.3s ease;
}

$custom-theme: mat.define-theme((color: (use-system-variables: true,
        system-variables-prefix: sys,
      ),
    ));

.mat-ripple {
  overflow: hidden;
  position: relative
}

.mat-ripple:not(:empty) {
  transform: translateZ(0)
}

.mat-ripple.mat-ripple-unbounded {
  overflow: visible
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-app-primary) transparent;
}

.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale3d(0, 0, 0);
  background-color: var(--mat-app-background, rgba(0, 0, 0, 0.1))
}

.cdk-high-contrast-active .mat-ripple-element {
  display: none
}

.cdk-drag-preview .mat-ripple-element,
.cdk-drag-placeholder .mat-ripple-element {
  display: none
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0
}

[dir=rtl] .cdk-visually-hidden {
  left: auto;
  right: 0
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

.cdk-overlay-container:empty {
  display: none
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .6
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop {
  transition: visibility 1ms linear, opacity 1ms linear;
  visibility: hidden;
  opacity: 1
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
  visibility: visible
}

.cdk-overlay-backdrop-noop-animation {
  transition: none
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  border-radius: 15px !important;
}

textarea.cdk-textarea-autosize {
  resize: none
}

textarea.cdk-textarea-autosize-measuring {
  padding: 2px 0 !important;
  box-sizing: content-box !important;
  height: auto !important;
  overflow: hidden !important
}

textarea.cdk-textarea-autosize-measuring-firefox {
  padding: 2px 0 !important;
  box-sizing: content-box !important;
  height: 0 !important
}

.divTitle {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.1rem;
  color: var(--mat-app-primary);
}

.labelTitle {
  font-size: 1.5rem;
}

.cdk-text-field-autofill-monitored:-webkit-autofill {
  animation: cdk-text-field-autofill-start 0s 1ms
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation: cdk-text-field-autofill-end 0s 1ms
}

.mat-focus-indicator {
  position: relative
}

.mat-focus-indicator::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  display: var(--mat-focus-indicator-display, none);
  border: var(--mat-focus-indicator-border-width, 3px) var(--mat-focus-indicator-border-style, solid) var(--mat-focus-indicator-border-color, transparent);
  border-radius: var(--mat-focus-indicator-border-radius, 4px)
}

.mat-focus-indicator:focus::before {
  content: ""
}

.cdk-high-contrast-active {
  --mat-focus-indicator-display: block
}

.mat-mdc-focus-indicator {
  position: relative
}

.mat-mdc-focus-indicator::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  display: var(--mat-mdc-focus-indicator-display, none);
  border: var(--mat-mdc-focus-indicator-border-width, 3px) var(--mat-mdc-focus-indicator-border-style, solid) var(--mat-mdc-focus-indicator-border-color, transparent);
  border-radius: var(--mat-mdc-focus-indicator-border-radius, 4px)
}

.mat-mdc-focus-indicator:focus::before {
  content: ""
}

.cdk-high-contrast-active {
  --mat-mdc-focus-indicator-display: block
}

.mat-app-background {
  background-color: var(--mat-app-background-color, var(--mat-app-background, transparent));
  color: var(--mat-app-text-color, var(--mat-app-on-background, inherit))
}

.mat-elevation-z0,
.mat-mdc-elevation-specific.mat-elevation-z0 {
  box-shadow: var(--mat-app-elevation-shadow-level-0, none)
}

.mat-elevation-z1,
.mat-mdc-elevation-specific.mat-elevation-z1 {
  box-shadow: var(--mat-app-elevation-shadow-level-1, none)
}

.mat-elevation-z2,
.mat-mdc-elevation-specific.mat-elevation-z2 {
  box-shadow: var(--mat-app-elevation-shadow-level-2, none)
}

.mat-elevation-z3,
.mat-mdc-elevation-specific.mat-elevation-z3 {
  box-shadow: var(--mat-app-elevation-shadow-level-3, none)
}

.mat-elevation-z4,
.mat-mdc-elevation-specific.mat-elevation-z4 {
  box-shadow: var(--mat-app-elevation-shadow-level-4, none)
}

.mat-elevation-z5,
.mat-mdc-elevation-specific.mat-elevation-z5 {
  box-shadow: var(--mat-app-elevation-shadow-level-5, none)
}

.mat-elevation-z6,
.mat-mdc-elevation-specific.mat-elevation-z6 {
  box-shadow: var(--mat-app-elevation-shadow-level-6, none)
}

.mat-elevation-z7,
.mat-mdc-elevation-specific.mat-elevation-z7 {
  box-shadow: var(--mat-app-elevation-shadow-level-7, none)
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: var(--mat-app-elevation-shadow-level-8, none)
}

.mat-elevation-z9,
.mat-mdc-elevation-specific.mat-elevation-z9 {
  box-shadow: var(--mat-app-elevation-shadow-level-9, none)
}

.mat-elevation-z10,
.mat-mdc-elevation-specific.mat-elevation-z10 {
  box-shadow: var(--mat-app-elevation-shadow-level-10, none)
}

.mat-elevation-z11,
.mat-mdc-elevation-specific.mat-elevation-z11 {
  box-shadow: var(--mat-app-elevation-shadow-level-11, none)
}

.mat-elevation-z12,
.mat-mdc-elevation-specific.mat-elevation-z12 {
  box-shadow: var(--mat-app-elevation-shadow-level-12, none)
}

.mat-elevation-z13,
.mat-mdc-elevation-specific.mat-elevation-z13 {
  box-shadow: var(--mat-app-elevation-shadow-level-13, none)
}

.mat-elevation-z14,
.mat-mdc-elevation-specific.mat-elevation-z14 {
  box-shadow: var(--mat-app-elevation-shadow-level-14, none)
}

.mat-elevation-z15,
.mat-mdc-elevation-specific.mat-elevation-z15 {
  box-shadow: var(--mat-app-elevation-shadow-level-15, none)
}

.mat-elevation-z16,
.mat-mdc-elevation-specific.mat-elevation-z16 {
  box-shadow: var(--mat-app-elevation-shadow-level-16, none)
}

.mat-elevation-z17,
.mat-mdc-elevation-specific.mat-elevation-z17 {
  box-shadow: var(--mat-app-elevation-shadow-level-17, none)
}

.mat-elevation-z18,
.mat-mdc-elevation-specific.mat-elevation-z18 {
  box-shadow: var(--mat-app-elevation-shadow-level-18, none)
}

.mat-elevation-z19,
.mat-mdc-elevation-specific.mat-elevation-z19 {
  box-shadow: var(--mat-app-elevation-shadow-level-19, none)
}

.mat-elevation-z20,
.mat-mdc-elevation-specific.mat-elevation-z20 {
  box-shadow: var(--mat-app-elevation-shadow-level-20, none)
}

.mat-elevation-z21,
.mat-mdc-elevation-specific.mat-elevation-z21 {
  box-shadow: var(--mat-app-elevation-shadow-level-21, none)
}

.mat-elevation-z22,
.mat-mdc-elevation-specific.mat-elevation-z22 {
  box-shadow: var(--mat-app-elevation-shadow-level-22, none)
}

.mat-elevation-z23,
.mat-mdc-elevation-specific.mat-elevation-z23 {
  box-shadow: var(--mat-app-elevation-shadow-level-23, none)
}

.mat-elevation-z24,
.mat-mdc-elevation-specific.mat-elevation-z24 {
  box-shadow: var(--mat-app-elevation-shadow-level-24, none)
}

/* Light Mode */
:root {
  --mat-autofill-bg: #ffffff;
  /* fundo claro */
  --mat-autofill-color: #000000;
  /* texto preto */
}

/* Dark Mode */
.dark-theme {
  --mat-autofill-bg: #1e1e1e;
  /* fundo escuro */
  --mat-autofill-color: #ffffff;
  /* texto branco */
}

.mat-icon {
  color: var(--mat-app-on-surface) !important;
}

label {
  color: var(--mat-app-on-surface) !important;
}

html {
  --mat-app-primary: rgb(65 95 145);
  --mat-app-surface-tint: rgb(65 95 145);
  --mat-app-on-primary: rgb(255 255 255);
  --mat-app-primary-container: rgb(214 227 255);
  --mat-app-on-primary-container: rgb(0 27 62);
  --mat-app-secondary: rgb(86 95 113);
  --mat-app-on-secondary: rgb(255 255 255);
  --mat-app-secondary-container: rgb(218 226 249);
  --mat-app-on-secondary-container: rgb(19 28 43);
  --mat-app-tertiary: rgb(112 85 117);
  --mat-app-on-tertiary: rgb(255 255 255);
  --mat-app-tertiary-container: rgb(250 216 253);
  --mat-app-on-tertiary-container: rgb(40 19 46);
  --mat-app-error: rgb(186 26 26);
  --mat-app-on-error: rgb(255 255 255);
  --mat-app-error-container: rgb(255 218 214);
  --mat-app-on-error-container: rgb(65 0 2);
  --mat-app-background: rgb(249 249 255);
  --mat-app-on-background: rgb(25 28 32);
  --mat-app-surface: rgb(249 249 255);
  --mat-app-on-surface: rgb(25 28 32);
  --mat-app-surface-variant: rgb(224 226 236);
  --mat-app-on-surface-variant: rgb(68 71 78);
  --mat-app-outline: rgb(116 119 127);
  --mat-app-outline-variant: rgb(196 198 208);
  --mat-app-shadow: rgb(0 0 0);
  --mat-app-scrim: rgb(0 0 0);
  --mat-app-inverse-surface: rgb(46 48 54);
  --mat-app-inverse-on-surface: rgb(240 240 247);
  --mat-app-inverse-primary: rgb(170 199 255);
  --mat-app-primary-fixed: rgb(214 227 255);
  --mat-app-on-primary-fixed: rgb(0 27 62);
  --mat-app-primary-fixed-dim: rgb(170 199 255);
  --mat-app-on-primary-fixed-variant: rgb(40 71 119);
  --mat-app-secondary-fixed: rgb(218 226 249);
  --mat-app-on-secondary-fixed: rgb(19 28 43);
  --mat-app-secondary-fixed-dim: rgb(190 198 220);
  --mat-app-on-secondary-fixed-variant: rgb(62 71 89);
  --mat-app-tertiary-fixed: rgb(250 216 253);
  --mat-app-on-tertiary-fixed: rgb(40 19 46);
  --mat-app-tertiary-fixed-dim: rgb(221 188 224);
  --mat-app-on-tertiary-fixed-variant: rgb(87 62 92);
  --mat-app-surface-dim: rgb(217 217 224);
  --mat-app-surface-bright: rgb(249 249 255);
  --mat-app-surface-container-lowest: rgb(255 255 255);
  --mat-app-surface-container-low: rgb(243 243 250);
  --mat-app-surface-container: rgb(237 237 244);
  --mat-app-surface-container-high: rgb(231 232 238);
  --mat-app-surface-container-highest: rgb(226 226 233);
  --mat-card-outlined-container-color: var(--mat-app-on-secondary);
  --mat-tree-container-background-color: var(--mat-app-on-secondary);
  --mat-tree-node-text-color: var(--mat-app-on-surface);
  --mat-toolbar-container-background-color: var(--mat-app-on-secondary) !important;
}

.dark {
  --mat-app-primary: rgb(170 199 255);
  --mat-app-surface-tint: rgb(170 199 255);
  --mat-app-on-primary: rgb(10 48 95);
  --mat-app-primary-container: rgb(40 71 119);
  --mat-app-on-primary-container: rgb(214 227 255);
  --mat-app-secondary: rgb(190 198 220);
  --mat-app-on-secondary: rgb(40 49 65);
  --mat-app-secondary-container: rgb(62 71 89);
  --mat-app-on-secondary-container: rgb(218 226 249);
  --mat-app-tertiary: rgb(221 188 224);
  --mat-app-on-tertiary: rgb(63 40 68);
  --mat-app-tertiary-container: rgb(87 62 92);
  --mat-app-on-tertiary-container: rgb(250 216 253);
  --mat-app-error: rgb(255 180 171);
  --mat-app-on-error: rgb(105 0 5);
  --mat-app-error-container: rgb(147 0 10);
  --mat-app-on-error-container: rgb(255 218 214);
  --mat-app-background: rgb(17 19 24);
  --mat-app-on-background: rgb(226 226 233);
  --mat-app-surface: rgb(17 19 24);
  --mat-app-on-surface: rgb(226 226 233);
  --mat-app-surface-variant: rgb(68 71 78);
  --mat-app-on-surface-variant: rgb(196 198 208);
  --mat-app-outline: rgb(142 144 153);
  --mat-app-outline-variant: rgb(68 71 78);
  --mat-app-shadow: rgb(0 0 0);
  --mat-app-scrim: rgb(0 0 0);
  --mat-app-inverse-surface: rgb(226 226 233);
  --mat-app-inverse-on-surface: rgb(46 48 54);
  --mat-app-inverse-primary: rgb(65 95 145);
  --mat-app-primary-fixed: rgb(214 227 255);
  --mat-app-on-primary-fixed: rgb(0 27 62);
  --mat-app-primary-fixed-dim: rgb(170 199 255);
  --mat-app-on-primary-fixed-variant: rgb(40 71 119);
  --mat-app-secondary-fixed: rgb(218 226 249);
  --mat-app-on-secondary-fixed: rgb(19 28 43);
  --mat-app-secondary-fixed-dim: rgb(190 198 220);
  --mat-app-on-secondary-fixed-variant: rgb(62 71 89);
  --mat-app-tertiary-fixed: rgb(250 216 253);
  --mat-app-on-tertiary-fixed: rgb(40 19 46);
  --mat-app-tertiary-fixed-dim: rgb(221 188 224);
  --mat-app-on-tertiary-fixed-variant: rgb(87 62 92);
  --mat-app-surface-dim: rgb(17 19 24);
  --mat-app-surface-bright: rgb(55 57 62);
  --mat-app-surface-container-lowest: rgb(12 14 19);
  --mat-app-surface-container-low: rgb(25 28 32);
  --mat-app-surface-container: rgb(29 32 36);
  --mat-app-surface-container-high: rgb(40 42 47);
  --mat-app-surface-container-highest: rgb(51 53 58);
  --mat-card-outlined-container-color: var(--mat-app-on-secondary);
  --mat-tree-container-background-color: var(--mat-app-on-secondary);
  --mat-tree-node-text-color: var(--mat-app-on-surface);
  --mat-toolbar-container-background-color: var(--mat-app-on-secondary) !important;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: none !important;
  min-width: none !important;
}

.mat-mdc-card {
  border-radius: 10px !important;
  border-color: var(--mat-app-on-surface) !important;
}

.mat-toolbar-row {
  border-radius: 10px !important;
}
