<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <mat-card-title>Esqueci minha senha</mat-card-title>
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          required
          [(ngModel)]="email"
          name="email"
          (ngModelChange)="onEmailChange()"
          autocomplete="email"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="button"
        [disabled]="!emailValid"
        (click)="sendEmail()"
        style="margin-bottom: 1rem"
      >
        Enviar email
      </button>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Código de verificação</mat-label>
        <input
          matInput
          type="text"
          maxlength="8"
          pattern="[0-9]*"
          inputmode="numeric"
          [disabled]="!emailValid"
          [(ngModel)]="code"
          name="code"
          autocomplete="one-time-code"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="button"
        [disabled]="!emailValid || code.length !== 8"
        (click)="confirmCode()"
      >
        Confirmar código
      </button>
    </form>
  </mat-card>
</div>
