<div class="change-password-container">
  <mat-card class="change-password-card">
    <mat-card-title>Alterar Senha</mat-card-title>
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nova senha</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" required autocomplete="new-password" />
        <button mat-icon-button matSuffix type="button" (click)="hide1 = !hide1">
          <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirme a nova senha</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" required autocomplete="new-password" />
        <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2">
          <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Alterar Senha
      </button>
    </form>
  </mat-card>
</div>
